name: flutter_project
description: "Bài tập lớn Flutter - Ứng dụng quản lý chi tiêu cá nhân (Expense Tracker)."
publish_to: "none"
version: 0.1.0

environment:
  sdk: ^3.5.4

dependencies:
  flutter:
    sdk: flutter
  provider: ^6.1.2
  localstore: ^1.4.0
  uuid: ^4.4.0
  http: ^1.2.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
